.active{
  background-color: #0A1D56;
}
nav ul li a {
  display: block;
  text-decoration: none;
  padding: 0.5rem;
  margin: 0 0.5rem;
  border-radius: 0.5rem;
}

nav ul li a:not(.active):hover{
  background-color: #86937b;
  color: black;
}


ul{
  display: flex;
}

nav .menu{
  display: none;
  position: absolute;
  top: 0.75rem;
  right: 0.5rem;
  flex-direction: column;
  justify-content: space-between;
  width: 2.25rem;
  height: 2rem;
}
nav .menu span{
  height: 0.4rem;
  width: 100%;
  background-color: aliceblue;
  border-radius: 0.2rem;
  cursor: pointer;
}
 
/* Responsive Nav  */

@media (max-width: 633px) {
nav .menu{
  display: flex;
}
nav{
  flex-direction: column;
  align-items: start;
}
nav ul{
  display: none;
  flex-direction: column;
  width: 100%;
  margin-bottom: 0.25rem;
  background-color: rgb(21, 68, 87);
  border-radius: 10px;
}

nav ul.open{
display: flex;
}
title nav ul li{
  width: 100%;
  text-align: center;
}
nav ul li a{
  margin: 0.2rem 0.5rem;
}
nav ul li a:not(.active):hover{
  background-color: #86937b;
  color: white;
}
}